.donate {
  padding: 1.2em 1.2em 2.3em;
}

.donate-container {
  max-width: 700px;
  margin: 0 auto;
  
  ul {
    list-style: none;
    
    li {
      position: relative;
      
      &::before {
        position: absolute;
        display: block;
        content: "";
        top: 12px;
        left: -20px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: $heading-color;
      }
    }
  }

  form {
    margin-top: 2em;
  }
}

[alt*="Amazon Smile"] {
  margin: .1em 0 .2em;
}