// Variables
$base-color: #746e76;
$header-bg: #ffffff;
$menu-item-color: #3d9ca8;
$heading-color: #3d9ca8;
$button-bgcolor: #a364a5;

:root {
  font-size: 1em;
  line-height: 1.15;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@font-face {
  font-family: "IcoMoon";
  src: url("../fonts/icomoon/icomoon-free.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  color: $base-color;
  font-family: Lato, sans-serif;
}

h1,
h2,
h3,
h4 {
  color: $heading-color;
  letter-spacing: .02em;
}

h1 {
  margin: .5em 0;
  font-size: 2.6rem;
}

h2 {
  margin: 1em 0;
  font-size: 2.4rem;
}

h3 {
  margin: 1.2em 0;
  font-size: 1.8rem;
}

h4 {
  margin: 1.6em 0;
  font-size: 1.4rem;
}

p {
  line-height: 1.8;
  font-size: 1.1rem;
}

a {
  color: $base-color;
  text-decoration: none;
  background-color: transparent;
}

i {
  font-style: normal;
}

img {
  max-width: 100%;
  border-style: none;
}

hr {
  height: 0;
  overflow: visible;
  box-sizing: content-box;
}

main {
  display: block;
}

ul {
  list-style: none;

  li {
    line-height: 1.8;
    font-size: 1.1rem;
  }

  li + li {
    margin-top: .7em;
  }
}

.spacer {
  margin-top: 150px;
}

.visuallyhidden {
  position: absolute;
  padding: 0;
  border: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.button {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  margin-top: 1.7em;
  line-height: 1.8;
  font-size: 1.1rem;
  cursor: pointer;
  color: #fff;
  border-radius: 1.5em;
  letter-spacing: .10em;
  padding: 0.57em 1.8em;
  border: 1px solid transparent;
  background: $button-bgcolor;
  transition: transform ease-in-out 250ms;
  box-shadow: -4px 3px 8px -3px rgba(0, 0, 0, .5);

  &:hover {
    transform: scale(1.1);
  }
}