.intro {
  padding: 0 1.2em;
  margin-top: 13em;
  margin-bottom: .5em;
}

.intro-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;

  .button {
    margin-top: 2.5em;
  }
  
  &::after {
    content: "";
    display: block;
    height: 3px;
    width: 80px;
    background: #ccc;
    margin: 2.5rem auto 0;
  }
}