@charset "UTF-8";

/*! --------------------------------------------------------------------------
             FILE: main.scss
      DESCRIPTION: Main stylesheet
           AUTHOR: Zoltán Király <zoliky@gmail.com>
----------------------------------------------------------------------------*/

// General
@import "general.scss";
@import "404.scss";

// Partials
@import "header.scss";
@import "intro.scss";
@import "goals.scss";
@import "villa.scss";
@import "footer.scss";

// Pages
@import "about.scss";
@import "blog.scss";
@import "gallery.scss";
@import "donate.scss";