<div class="footer-top">
  <div class="footer-top-container">
    <div class="footer-col-1 contact" id="contact">
      <h3>Contact</h3>
      <div class="address">
        <h4>Phone</h4>
        <p><a href="tel:+18764862219">{{ .Site.Params.footer.phone }}</a></p><br>
        <h4>Email</h4>
        <p><a href="mailto:{{ .Site.Params.footer.email }}">{{ .Site.Params.footer.email }}</a></p><br>
        <h4>Main Address</h4>
        <p>240 Quinn Street<br> Naugatuck, CT 08618 USA</p>
      </div>
      <ul class="social">
        {{ range .Site.Params.social }}
        <li>
          <a href="{{ .url }}" target="_blank" rel="noopener">
            <i aria-hidden="true" class="{{ .icon }}" title="{{ .title }}"></i>
            <span class="visuallyhidden">{{ .title }}</span>
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
    <div class="footer-col-2">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="/about">About us</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/tags/achievement">Achievements</a></li>
      </ul>
    </div>
    <div class="footer-col-3">
      <h3>About</h3>
      <p>Spring Mountain Benefit Corp. is a nonprofit (501c3) charitable organization. Donations are tax-deductible as allowed by law.</p>
      <ul>
        <li><a href="https://apps.irs.gov/app/eos/detailsPage?ein=462999325&name=Spring%20Mountain%20Benefit%20Corp&city=Naugatuck&state=CT&countryAbbr=US&dba=&type=CHARITIES,%20DETERMINATIONLETTERS,%20EPOSTCARD&orgTags=CHARITIES&orgTags=DETERMINATIONLETTERS&orgTags=EPOSTCARD">Verify 501c3 Status</a></li>
        <li><a href="https://www.guidestar.org/profile/46-2999325" target="_blank" rel="noopener">Our Profile on GuideStar</a></li>
      </ul>
      <div class="badges">
        <a href="https://greatnonprofits.org/org/spring-mountain-benefit-corp?badge=1" target="_blank" rel="noopener"><img class="badge-gn" src="{{ "images/great-nonprofits.png" | relURL }}" alt="Great nonprofits"></a>
        <a href="https://www.guidestar.org/profile/46-2999325"><img class="badge-sot" src="{{ "images/sot.png" | relURL }}" alt="Seal of transparency"></a>
      </div>
    </div>
  </div>
</div> {{ "<!-- .footer-top -->" | safeHTML }}