<section class="goals">
  <div class="goals-container">
    <h2>Goals</h2>
    <ul class="goals-list">
      <li><i aria-hidden="true" class="goals-icon fas fa-sun"></i>Development of wind and solar power</li>
      <li><i aria-hidden="true" class="goals-icon fas fa-heartbeat"></i>Community health and welfare</li>
      <li><i aria-hidden="true" class="goals-icon fas fa-road"></i>Paving the community's roads</li>
      <li><i aria-hidden="true" class="goals-icon fas fa-briefcase"></i>Promoting entrepreneurial activities</li>
      <li><i aria-hidden="true" class="goals-icon fas fa-graduation-cap"></i>Creating an education fund</li>
      <li><i aria-hidden="true" class="goals-icon fas fa-stethoscope"></i>Doctors without Borders visits</li>
      <li><i aria-hidden="true" class="goals-icon fas fa-dog"></i>Animal healthcare and wellbeing</li>
      <li><i aria-hidden="true" class="goals-icon fas fa-wifi"></i>Free WiFi for the community</li>
      <li><i aria-hidden="true" class="goals-icon fas fa-ellipsis-h"></i>And more</li>
    </ul>
  </div>
</section>