<section class="villa">
  <div class="villa-container">
    <div class="villa-flex">
      <div class="villa-col-1">
        <img src="{{ .Site.BaseURL }}images/villa.jpg" alt="Villa">
      </div>

      <div class="villa-col-2">
        <h2>Rent our villa</h2>
        <p>
          All proceeds from the rental of Spring Mountain Villa are contributed to the Spring Mountain Benefit Corporation.
        </p>
        <p>
          Any contributions, including your stay at Spring Mountain Villa, are now tax deductable under section 501(c)3 of
          the Internal Revenue Code. You will receive an acknowledgement of the amount of tax deduction related to your expenses.
        </p>
        <p><a class="button" role="button" href="about">Learn More</a></p>
      </div>
    </div>
  </div>
</section>