/* ---------------------------------------------------------------------------
             FILE: main.css
      DESCRIPTION: Main stylesheet
           AUTHOR: Zoltán Király <zoliky@gmail.com>
----------------------------------------------------------------------------*/

/* ---------------------------------------------------------------------------
##General
----------------------------------------------------------------------------*/
:root {
  font-size: 1em;
  line-height: 1.15;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  --base-color: #746e76;
  --header-bg: #ffffff;
  --menu-items-color: #3d9ca8;
  --heading-color: #3d9ca8;
  --button-bgcolor: #a364a5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "IcoMoon";
  src: url("../fonts/icomoon/icomoon-free.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  color: var(--base-color);
  background: var(--background);
  font-family: Lato, sans-serif;
}

h1,
h2,
h3,
h4 {
  letter-spacing: .02em;
  color: var(--heading-color);
}

h1 {
  margin: .5em 0;
  font-size: 2.6rem;
}

h2 {
  margin: 1em 0;
  font-size: 2.4rem;
}

h3 {
  margin: 1.2em 0;
  font-size: 1.8rem;
}

h4 {
  margin: 1.6em 0;
  font-size: 1.4rem;
}

p {
  line-height: 1.8;
  font-size: 1.1rem;
}

a {
  text-decoration: none;
  color: var(--base-color);
  background-color: transparent;
}

i {
  font-style: normal;
}

img {
  max-width: 100%;
  border-style: none;
}

hr {
  height: 0;
  overflow: visible;
  box-sizing: content-box;
}

main {
  display: block;
}

ul > li {
  font-size: 1.1rem;
  line-height: 1.8;
}

ul > li + li {
  margin-top: .7em;
}

.spacer {
  margin-top: 150px;
}

.visuallyhidden {
  position: absolute;
  padding: 0;
  border: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.button {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  margin-top: 1.7em;
  line-height: 1.8;
  font-size: 1.1rem;
  cursor: pointer;
  color: #fff;
  border-radius: 1.5em;
  letter-spacing: .10em;
  padding: 0.57em 1.8em;
  border: 1px solid transparent;
  background: var(--button-bgcolor);
  transition: transform ease-in-out 250ms;
  box-shadow: -4px 3px 8px -3px rgba(0, 0, 0, .5);
}

.button:hover {
  transform: scale(1.1);
}

/* ---------------------------------------------------------------------------
##Header
----------------------------------------------------------------------------*/
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 140px;
  z-index: 100;
  background: var(--header-bg);
  transition: top 0.3s linear 0s;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Site logo */
.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex: 0 0 auto;
}

.logo-img {
  width: 160px;
  height: 140px;
}

/* Hamburger navigation */
.menu-toggle {
  position: absolute;
  right: 0;
  top: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}

.hamburger {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hamburger,
.hamburger::before,
.hamburger::after {
  width: 30px;
  height: 3px;
  background: #0c0c0c;
  border-radius: 0.5626em;
  transition: all .4s ease-in-out;
}

.hamburger::before,
.hamburger::after {
  position: absolute;
  content: "";
}

.hamburger::before {
  top: -8px;
}

.hamburger::after {
  top: 8px;
}

/* Hamburger animation */
.nav.is-open .hamburger {
  background: rgba(0, 0, 0, 0);
}

.nav.is-open .hamburger::before {
  top: 0;
  transform: rotate(45deg);
}

.nav.is-open .hamburger::after {
  top: 0;
  transform: rotate(135deg);
}

/* Menu dropdown */
.menu-dropdown {
  position: absolute;
  height: 0;
  top: 100%;
  width: 100%;
  background: #fff;
  overflow: hidden;
  transition: height 0.3s ease-out;
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.1);
}

.nav-menu {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.nav-menu > li {
  line-height: 1;
}

.nav-menu > li + li {
  margin-top: 0;
  border-top: 1px solid #ccc;
}

.nav-menu > li > a {
  display: block;
  position: relative;
  font-size: 1.3rem;
  padding: 0.8em .5em;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--menu-items-color);
}

/* Seal of transparency */
.sot {
  display: none;
}

@media (min-width: 52em) {
  .header-container {
    display: flex;
    height: 100%;
    padding: 0 .5em;
    align-items: center;
    justify-content: space-around;
  }

  .logo {
    position: static;
    transform: initial;
  }

  .menu-toggle {
    display: none;
  }

  .menu-dropdown {
    position: initial;
    box-shadow: initial;
    height: auto !important;
    overflow: initial;
  }

  .nav-menu {
    display: flex;
    position: static;
    justify-content: center;
  }

  .nav-menu > li {
    margin-left: 1em;
    line-height: 1.8;
  }

  .nav-menu > li > a {
    padding: .1em 0;
    white-space: nowrap;
  }

  .nav-menu > li + li {
    margin-left: 2.3em;
    border-top: initial;
  }

  .nav-menu > li > a::after {
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 0;
    height: 2px;
    background: currentColor;
    transition:
      left .4s ease-out,
      right .4s ease-out;
  }

  .nav-menu > li > a.active::after,
  .nav-menu > li > a:hover::after {
    left: 0;
    right: 0;
  }
}

@media (min-width: 70em) {
  .header-container {
    justify-content: space-between;
  }

  .sot {
    display: initial;
  }
}

/* ---------------------------------------------------------------------------
##404
----------------------------------------------------------------------------*/
.page-404 {
  margin: 12em 0 5em;
}

.page-404-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.page-404-container > img {
  width: 300px;
}

.page-404-container > h2 {
  margin: .2em 0 0 0;
}

/* ---------------------------------------------------------------------------
##Intro
----------------------------------------------------------------------------*/
.intro {
  padding: 0 1.2em;
  margin-top: 13em;
  margin-bottom: .5em;
}

.intro-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.intro-container .button {
  margin-top: 2.5em;
}

.intro-container::after {
  content: "";
  display: block;
  background: #ccc;
  height: 3px;
  width: 80px;
  margin: 2.5rem auto 0;
}

/* ---------------------------------------------------------------------------
##Goals
----------------------------------------------------------------------------*/
.goals {
  padding: 1.2em;
  margin-bottom: 2em;
}

.goals-container {
  max-width: 1200px;
  margin: 0 auto;
  color: #726c74;
  font-size: 1.1rem;
}

.goals-container > h2 {
  margin-bottom: 1.4em;
}

.goals-list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-flow: row wrap;
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Mastering_Wrapping_of_Flex_Items#Creating_gutters_between_items */
  margin: -18px;
}

.goals-list > li {
  display: flex;
  flex: 1 0 18em;
  line-height: 1.5;
  align-items: center;
  margin: 18px;
}

.goals-icon {
  color: #aaa;
  font-size: 2.3rem;
  min-width: 60px;
}

/* ---------------------------------------------------------------------------
##Villa
----------------------------------------------------------------------------*/
.villa {
  padding: 1.2em;
}

.villa-container {
  max-width: 1200px;
  margin: 0 auto;
}

.villa-flex {
  display: flex;
  flex-flow: row wrap;
}

[class*="villa-col"] {
  flex: 100%;
}

.villa-col-1 > img {
  padding-top: 5px;
  margin-bottom: 2em;
}

.villa h2 {
  margin: 0 0 1em;
}

.villa-container p {
  font-size: 1.1rem;
}

@media (min-width: 52em) {
  [class*="villa-col"] {
    flex: 50%;
  }

  .villa-col-2 > h3 {
    margin-top: 0;
  }
}

/* ---------------------------------------------------------------------------
##About us
----------------------------------------------------------------------------*/
.about {
  padding: 1.2em 1.2em 2.3em;
}

.about-container {
  max-width: 700px;
  margin: 0 auto;
}

/* ---------------------------------------------------------------------------
##Blog
----------------------------------------------------------------------------*/
.blog {
  padding: 1.2em 1.2em 2.3em;
}

.blog-container {
  max-width: 700px;
  margin: 0 auto;
}

.blog img {
  height: auto;
}

.blog-post {
  padding: 2em;
  margin: 1.5em -.5em;
  border-radius: 0.25em;
  box-shadow:
    -1px 2px 10px 1px rgba(46,41,51,0.08),
    1px 2px 5px rgba(71,63,79,0.08);
  transition:
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    padding 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.blog-post:hover {
  transform: translateY(-0.25em);
  box-shadow:
    rgba(46, 41, 51, 0.08) 0px 4px 8px,
    rgba(71, 63, 79, 0.16) 0px 8px 16px;
}

.blog-post h3 {
  margin: 0;
  font-size: 1.9rem;
}

.blog-post h3 > a {
  color: var(--heading-color);
}

.post-meta {
  display: flex;
  align-items: center;
  margin-top: 2em;
}

.post-content {
  margin-top: 2.1em;
}

.paginator {
  overflow: auto;
}

.pagination {
  list-style: none;
  padding-left: 0;
  display: flex;
}

.page-item {
  border: 1px solid #ccc;
  margin-top: 0;
}

.page-item > a {
  display: block;
  padding: 0.20em 0.80em;
}

.pagination > .page-item + .page-item {
  margin-left: 0.25em;
}

.page-item.active {
  color: #fff;
  background-color: #3d9ca8;
}

.page-item.active > a {
  color: #fff;
}

.blog-post {
  position: relative;
}

.posted-by {
  margin-right: .2em;
}

.read-more {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  text-indent: -100px;
  white-space: nowrap;
  overflow: hidden;
}

.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: .8em;
}

.title-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tag-icon {
  font-size: 1.8rem;
  color: #a364a5;
}

.quick-links {
  margin: 2em 0;
}

.quick-links > li + li {
  margin-top: 1em;
}

.quick-links > li > a {
  line-height: 1.8;
  font-size: 1em;
}

@media (min-width: 52em) {
  .blog-post {
    margin: 1.5em 0;
  }
}

/* ---------------------------------------------------------------------------
##Gallery
----------------------------------------------------------------------------*/
.photos {
  padding: 1.2em 1.2em 2.3em;
}

.photos-container {
  max-width: 800px;
  margin: 0 auto;
}

.gallery {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.gallery-item { /* Masonry bricks or child elements */
  display: inline-block;
  /*padding: .1em .1em 0 .1em;*/
  margin: 0;
  width: auto;
}

.gallery-item img {
  display: block;
}

@media (min-width : 30em) {
  .gallery {
    column-count: 1;
    column-gap: 3px;
  }
}

@media (min-width : 48em) {
  .gallery {
    column-count: 3;
    column-gap: 3px;
  }
}

@media (min-width : 62em) {
  .gallery {
    column-count: 3;
    column-gap: 3px;
  }
}

@media (min-width : 75em) {
  .gallery{
    column-count: 3;
    column-gap: 0.2rem;
    width: 100%;
  }
}

/* ---------------------------------------------------------------------------
##Donate
----------------------------------------------------------------------------*/
.donate {
  padding: 1.2em 1.2em 2.3em;
}

.donate-container {
  max-width: 700px;
  margin: 0 auto;
}

.donate-container > ul {
  list-style: none;
}

.donate-container > ul > li {
  position: relative;
}

.donate-container > ul > li::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background: var(--heading-color);
  border-radius: 50%;
  top: 12px;
  left: -20px;
  position: absolute;
}

.donate form {
  margin-top: 2em;
}

[alt*="Amazon Smile"] {
  margin: .1em 0 .2em;
}

/* ---------------------------------------------------------------------------
##Certificate
----------------------------------------------------------------------------*/
.certificate {
  padding: 1.2em;
}

.certificate-container {
  max-width: 1200px;
  margin: 0 auto;
}

/* ---------------------------------------------------------------------------
##Footer
----------------------------------------------------------------------------*/
.footer {
  border-top: 1px solid #ccc;
}

.footer h3 {
  letter-spacing: 0.05em;
  margin: 1.2em 0 1em;
  text-transform: uppercase;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer ul > li {
  margin: 0;
}

.footer a:hover,
.footer a:focus {
  color: #ae5ba1;
  transition: color 0.2s linear;
}

[class*="footer-col"] {
  flex: 100%;
}

.footer-col-3 > ul {
  margin: .5em 0;
}

.footer-col-3 p {
  margin-bottom: .5em;
}

.footer-col-3 > ul > li > a {
  font-size: 1rem;
}

/* Footer top */
.footer-top {
  background: #d9d9d9;
  padding: 10px 0;
}

.footer-top-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
  justify-content: space-between;
}

.address > h4 {
  margin: 0;
  font-size: 1em;
}

.address > p {
  margin: 0;
}

/* Footer top - social */
.footer .social {
  display: flex;
  padding: 0;
  list-style: none;
  margin: 15px 0 0 -6px;
}

.social > li + li {
  margin-left: 1.8em;
  margin-top: 0;
}

.social > li > a {
  position: relative;
  display: block;
  color: #696969;
  font-size: 2rem;
  text-decoration: none;
}

:root.non-touch .social > li > a > i {
  transition: color .30s;
}

[class*="icon-"] {
  font-family: "IcoMoon";
}

.icon-facebook::before {
  content: "\ea90";
}

.icon-twitter::before {
  content: "\ea96";
}

.icon-email::before {
  content: "\e945";
}

:root.non-touch .icon-facebook:hover {
  color: #3a559f;
}

:root.non-touch .icon-twitter:hover {
  color: #55acee;
}

:root.non-touch .icon-email:hover {
  color: #41b4ac;
}

.badges {
  display: flex;
  align-items: center;
}

.badges > img {
  display: block;
}

.badge-gn {
  width: 160px;
  height: 85px;
  margin-right: 1.5em;
}

/* Footer bottom */
.footer-bottom-links {
  list-style: none;
  padding-left: 0;
  display: flex;
}

.footer-bottom-links > li + li {
  margin-left: 1em;
}

.footer-bottom-links > li > a {
  color: #777;
  font-size: 1rem;
}

.footer-bottom {
  padding: 20px 0;
  background: #18181a;
}

.footer-bottom ul {
  margin: 0;
}

.footer-bottom-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom p,
.footer-top > p {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1rem;
  color: #777;
}

@media (min-width: 52em) {
  .footer-col-1 {
    flex: 0 0 25%;
  }

  .footer-col-2 {
    flex: 0 0 35%;
  }

  .footer-col-3 {
    flex: 0 0 30%;
  }
}
